*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(61, 70, 78);
}

.section{
    background: rgb(7, 55, 119);
    display:flex;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#main-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.section{
    width: 70%;
    justify-content:space-evenly;
    margin-bottom: 20px;
    padding: 20px;
    background: rgb(131, 167, 214);
    border-radius: 10px;
    transition: transform 0.35s ease-in-out;
}

.section:hover {
    transform:scale(1.05);
}

.content{
    display: flex;
    width:70%;
    flex-direction: column;
    justify-content: space-evenly;
}

.content p:first-of-type{
    color: #555;
}

.content p:not(:first-of-type){
    font-size: 20px;
}

.content h3{
    font-size: 30px;
    margin-bottom: 10px;
}